.App form {
  margin-top: 60px;
}
.search-form {
  padding: 20px;
  margin-top: 50px;
}
.button {
  width: 100%;
  display: block;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #42a5f5;
  border: 0px;
  transition: all 200ms ease;
}
.button:hover {
  background-color: #353cee;
}
.locationbutton {
  width: 100%;
  display: block;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #42a5f5;
  border: 0px;
  transition: all 200ms ease;
}
.locationbutton:hover {
  background-color: #353cee;
}
