h1 {
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  font-size: 35px;
  font-weight: 500;
  line-height: 47px;
}
p {
  color: #212529;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.weather-temp-today strong {
  font-size: 45px;
  margin-top: 20px;
  line-height: 50px;
  position: relative;
  top: 20px;
  text-align: center;
  color: #212529;
}

.weather-temp-today .active {
  color: #212529;
  cursor: default;
  text-decoration: none;
}
.weather-temp-today .active:hover {
  text-decoration: none;
}
.today-box {
  max-width: 700px;
  margin: 30px auto;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.today-box i {
  margin-right: 1px;
  margin-top: 10px;
  position: relative;
  top: 20px;
}
.unit {
  font-size: 12px;
  position: relative;
  top: 0px;
  margin: 5px;
}
.weather-details {
  padding-top: 10px;
  padding-bottom: 10px;
}
.weather-details li {
  font-size: 12px;
  text-align: right;
}
.weather-description {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  text-transform: capitalize;
  color: #212529;
  text-align: right;
}
.sun-icon {
  color: #f4e711;
  font-size: 52px;
}
ul {
  margin: 0;
  padding: 0;
  color: #212529;
}
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 300;
}
a {
  color: #4e118a;
  font-weight: 400;
}
a:hover {
  color: #5d2e8d;
}
