h1 {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: none;
  text-align: left;
}
p {
  color: #5c6477;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.todays-temp {
  display: block;
  text-align: center;
  font-size: 40px;
  position: relative;
  top: 30px;
  color: black;
}
.today-box {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
}
.unit {
  font-size: 18px;
  position: relative;
  bottom: 10px;
}
.weather-h4-titles {
  color: #5c6477;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: right;
}
.weather-details {
  color: #42a5f5;
  text-align: center;
}
.sun-icon {
  color: #f4e711;
  font-size: 52px;
}
